
.form-part {
    .button.expanded {
        margin:2vh 0;
    }
}

.coach, .instructions, .screen1 {
    text-align:center;
}
.coach {
    font-size:1.8em;
    margin:5vh 0 4vh;
} 
.instructions {
    font-size:1em
}
.breadcrumbs.form-navigation {
    margin-top:2em;
}

.screen1 svg {
   display:block;
   width:100%;
   max-height:200px;
}

.screen1 .needGroup {
   color:#999;
}
.screen1 .iconCircle {
    fill:#f4f4f4;
    stroke: #d7d7d7;
}
.screen1 .needGroup .icon {
   fill:#45bbff;
}

.screen1 {
   display:flex;
   flex-wrap:wrap;
   justify-content: center;
   padding-bottom:4em;
}
.screen1 [type="checkbox"] {
    position:absolute;
    visibility:hidden;
}
.screen1 .needGroup{
   width:25%;
   margin:1em .5em;
   
}

// .screen1 :checked + label .iconCircle {     
//     fill:#d4d4d4;
//     stroke: #d7d7d7; 
// }
.screen1 :checked + label .iconCircle { fill:#b4e4ff }


.screen2  {
   text-align:left;
}

.photoGroup {
   display:none;
}

.screen2 .photoGroup {
   text-align:center;
}
.screen2 .photoGroup path {
   fill: #eee;
}

.screen2 .photoGroup:hover {
   fill:#aaa;
}
.screen2 .photoGroup input {
   position:absolute;
   visibility:hidden;
}
.button.small-6 {
    width:48%;
    margin:4vh 0 20vh;
}
.Incrementer {
    &.adult .counter .icon {
        background: white url(/images/adult.svg) center no-repeat;
        background-size: 32%;
    }
    &.child .counter .icon {
        background: white url(/images/child.svg) center no-repeat;
        background-size: 28%;
    }
    display:flex;
    flex-flow:column;
    align-items:center;
    .counter {
        display:flex;
        align-items:center;
        .icon {
            width:5em;
            height:5em;
            display:block;
            border-radius:100%;
            margin:0 -.5em;
            position:relative;
            background:#fff;
            border:.3em solid #eee;
        }
        .increment {
            padding:.5em .5em .7em;
            background:#eee;
            font-size:1.5em;
            line-height:.3em;
            font-weight:bold;
            &.sub { 
                padding-right:.6em;
                padding-left:.6em; 
                border-radius:5em 0 0 5em;
            }
            &.add { 
                padding-left:.5em; 
                border-radius:0 5em 5em 0;
            }
        }
    }
    .family {
        .switch .button {
            margin:.2em;
        }
    }
    input {
        &, &:active, &[readonly], &:disabled, &:focus {
            background:none;
            border:none;
            box-shadow:none;
            outline:none;
            cursor:default;
            text-align:center;
            width:6em;
            padding:0;margin:0;
        }
    }
}
.form-part-header {
    position:relative;
    .back-arrow-button, .done-button {
        color:white;
        position:absolute;
        height:1em;
        line-height:1em;
        top:50%;
        left:6vw;
        margin-top:-.5em;
        svg {
            color:white;
        }
    }
    .done-button {
        left:auto;
        right:6vw;
        text-decoration:underline;
    }
}