table {
    font-size:.85em;
    margin-top:2em;
}
.top-bar, .top-bar ul{
    background-color:#2099e8;
    color:white;
    a { 
        color:white;
    }
}
.form-part-header {
    background-color:#2099e8;
    color:white;
    padding:1em 0;
    text-align:center;
    p {
        margin:0; padding:0;
    }
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}